html, body {
	margin:0px;
	background-color:#f8f8f8;
	text-rendering:optimizeLegibility;
	image-rendering:optimizeSpeed;
	width:100%;
	font-family:Ubuntu Light;
}
header {
	width:100%;
	height:40px;
	margin:0px;
	top:0px;
	background-color:#0099cc;
	color:white;
	font-family:Ubuntu;
	line-height:40px;
	text-align:center;
	position:fixed;
}
a {
	text-decoration:none;
	color:#0088C0;
}
table {
	display:inline-table;
}
tr {
	height:35px;
}
th {
	color:white;
	background-color:#0099cc;
	padding-left:3px;
	padding-right:3px;
}
input[type="text"], input[type="password"], input[type="checkbox"], input[type="email"], textarea {
	border:2px solid #999;
	border-radius:0px;
	transition:0.25s;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="checkbox"]:checked, textarea:focus {
	box-shadow:0 0 5px #008bc0;
	border-color:#008bc0;
	outline:none;
	color:#008bc0;
}
input[type="text"], input[type="password"], input[type="email"] {
	height:18px;
	width:250px;
	text-indent:5px;
}
input[type="checkbox"] {
	width:15px;
	height:15px;
	border:1px solid #999;
}
input[type="submit"] {
	width:100px;
	height:30px;
}
input[type="file"] {
	height:25px;
	font-size:10pt;
}
select {
	width:130px;
	height:23px;
	font-size:9pt;
}

#header_title {
	margin-right:30px;
	font-size:18pt;
}
.header_nav, #header_title {
	padding-left:8px;
	padding-right:8px;
	float:left;
	color:white;
}
.header_nav:hover, #header_user:hover {
	background-color:#0088C0;
}
#header_user {
	float:right;
	margin-right:10px;
	padding-left:8px;
	padding-right:8px;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
	color:white;
}
#userMenu {
	position:fixed;
	margin:0px;
	top:40px;
	right:10px;
	width:180px;
	height:140px;
	background-color:white;
	display:none;
	border:2px solid lightgrey;
	border-top:0px;
	text-align:center;
	z-index:1001;
}
#loginUser, #loginPass {
	width:170px;
}

#sidebar {
	height:100%;
	width:235px;
	top:40px;
	padding-top:10px;
	margin:0px;
	position:fixed;
	background-color:#ededed;
	border-right:3px solid lightgrey;
	line-height:40px;
}
.sidebar_heading {
	height:40px;
	margin:0px;
	margin-top:10px;
	color:#008BC0;
	font-size:20pt;
	text-indent:10px;
}
.sidebar_item {
	height:40px;
	width:100%;
	margin:0px;
	float:left;
	color:black;
	font-size:14pt;
	text-indent:20px;
}
.sidebar_item:hover {
	color:white;
	background-color:#0088C0;
}

#module {
	margin-top:50px;
	margin-left:240px;
	text-align:center;
}

.sectionTitle {
	color:#008BC0;
	font-size:24pt;
	font-family:Ubuntu;
}
.subTitle {
	color:#008BC0;
	font-size:20pt;
}

.list {
	background-color:white;
	border-collapse:collapse;
	border: 2px solid lightgrey;
}