*{
	margin:0px;
	padding:0px;
}

img{
	image-rendering: optimizeSpeed;
}

#tabs{
	background: url(images/nav_bg.gif) repeat-x #8B2500;
	float: left;
	width:100%;
	line-height: 30px;
	margin:0px;
}

#tabs li{
    list-style:none;
	padding-left: 1px;
	display: list-item;
	text-align: -webkit-match-parent;
	float: left;
	position: relative;
}

#tabs li:hover{
	background: url(images/nav_act.png);
}

#tabs li a, p{
	color:#FFFFFF;
	display:block;
	padding: 0px 16px;
    position:relative;
	line-height: 30px;
	margin:0px;
}

#tabs a:hover, p:hover{
	color:#a61000;
}

#tabs p:hover span{ 
	width:100%; 
	padding:0 0px;
	overflow:visible; 
}

#tabs span{
    /* Container properties */
    width:0;
    left:0px;
    padding:0;
    margin-left: 0px;
    position:absolute;
    overflow:hidden;
    z-index: 999;

    /* Text properties */
    white-space:nowrap;
    text-align:center;

    /* CSS3 Transition: */
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
}

.span_level_one{bottom:-30px;}
.span_level_two{bottom:-60px;}
.span_level_three{bottom:-90px;}
.span_level_four{bottom:-120px;}
.span_level_five{bottom:-150px;}

#tabs .home {background-position:0 0;}
#tabs .home:hover {background-position:0 19px;}
#tabs .home span{background: url(images/nav_bg.gif) repeat-x #8B2500;}
#tabs .home span:hover{background: url(images/nav_act.png);}

#description{
	color:#000000;
	text-align: left;
	font-size: 12pt;
}

a.tooltip::before {
    content: attr(data-tip) ;
    position:absolute;
    font-size: 14px;
    z-index: 999;
    left: 0px;
    background:#000;
    color:#e0e0e0;
    padding:0px 7px;
    line-height: 14pt;
    height:55px;
    width:150px;
    opacity: 0;
    transition:opacity 0.4s ease-out;
    text-align: left;
}
a.tooltip:hover::before {
    opacity: 1;
}
a.tooltip {
    opacity: 1;
    text-align: center;
    width:100%;
    font-size: 14px;
}

header, section, footer, aside, nav, article, hgroup{
	display:block;
}

header{
	clear:both;
	text-align: center;
}

section{
	/*width:80%;*/
	text-align: center;
}

#imgDiv{
	width:152px;
	height:340px;
	overflow:hidden;
	position:relative;
	float:left;
	font-size: 14px;
	font-weight:bold;
	margin:6px;
	border:1px solid #000000;
	background:lightgray;
}

#title{
	margin-bottom: 5px;
	color:#000000;
	padding: 0px 0px;
}

#imgDiv img{
	max-width:150px;
	max-height:300px;
	opacity:0.8;
	margin:1px;
}

#imgDiv img:hover{
	opacity:1.0;
}

a, p {
	text-decoration:none;
}

body{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:center;
}

nav {
	height:30px;
}

aside{
	text-align:left;
	float:left;
	width:200px;
	border:1px solid #021a40;
	position:relative;
}

footer{
	clear:both;
	border-top:2px solid black;
	position:relative;
	width:100%;
	bottom:0px;
}
	
#content_wrapper {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, sans-serif;
	font-size: 90%;
	min-width: 675px;
	text-align: left;
}

#toolTitle{
	font-size: 12pt;
	font-weight: bold;
	opacity:1.0;
}

/*#projectList{
	width:68%;
	height:80%;
}*/

#dhtmltooltip{
	position: absolute;
	width: 150px;
	border: 2px solid black;
	padding: 2px;
	font-size: 9pt;
	visibility: hidden;
	z-index: 100;
	opacity:0.8;
}

#ecchiTag{
	font-weight:bold;
	color:red;
}

#hentaiTag{
	font-weight:bold;
	color:pink;
}