html {
	height:100%;
	overflow:auto;
}
body {
	background-color:#ededed;
	margin:0;
	height:100%;
	overflow:auto;
}
header {
	width:100%;
	height:40px;
	margin:0;
	background-color:#008BC0;
	border-bottom:2px solid black;
	color:white;
	line-height:40px;
	text-align:center;
	position:absolute;
}
a {
	text-decoration:none;
	color:black;
}

.header_nav {
	padding-left:8px;
	padding-right:8px;
	float:left;
	color:white;
	font-size:14pt;
}
.header_nav:hover {
	background-color:#00688B;
}
#header_user {
	float:right;
	margin-right:10px;
	padding-left:8px;
	padding-right:8px;
	color:white;
}
#header_user:hover {
	background-color:#00688B;
}
#sidebar {
	top:42px;
	bottom:0px;
	float:left;
	padding-top:10px;
	background-color:#d4d4d4;
	border-right:4px solid black;
	position:absolute;
}
#sidbar_hr {
	height:40px;
	width:80%;
	float:left;
	margin:0px;
}
.sidebar_item {
	height:40px;
	width:215px;
	float:left;
	margin:0px;
	text-align:center;
	line-height:40px;
	color:black;
	font-size:14pt;
}
.sidebar_item:hover {
	color:white;
	background-color:#00688B;
}
#module {
	margin-top:50px;
	margin-left:225px;
	overflow : auto;
}