html, body {
	margin:0px;
	background-color:#ededed;
	text-rendering:optimizeLegibility;
	image-rendering:optimizeSpeed;
}
header {
	width:100%;
	height:40px;
	margin:0px;
	top:0px;
	background-color:#008BC0;
	border-bottom:2px solid black;
	color:white;
	line-height:40px;
	text-align:center;
	position:fixed;
}
a {
	text-decoration:none;
	color:black;
}
table {
	display:inline-table;
}
tr {
	height:35px;
}
input[type="text"], input[type="checkbox"], textarea {
	border:2px solid #999;
	border-radius:5px;
	transition:0.25s;
}
input[type="text"]:focus, input[type="checkbox"]:checked, textarea:focus {
	box-shadow:0 0 5px #008bc0;
	border-color:#008bc0;
	outline:none;
	color:#008bc0;
}
input[type="text"] {
	height:18px;
	width:250px;
	text-indent:5px;
}
input[type="checkbox"] {
	width:15px;
	height:15px;
}
input[type="submit"] {
	width:100px;
	height:30px;
}
input[type="file"] {
	height:25px;
	font-size:10pt;
}
select {
	width:100px;
	height:25px;
	font-size:10pt;
}
select:focus {
	box-shadow:0 0 3px #008bc0;
}

#header_title {
	margin-right:40px;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
}
.header_nav, #header_title {
	padding-left:8px;
	padding-right:8px;
	float:left;
	color:white;
	font-size:14pt;
}
.header_nav:hover {
	background-color:#00688B;
}
#header_user {
	float:right;
	margin-right:10px;
	padding-left:8px;
	padding-right:8px;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
	color:white;
}
#header_user:hover {
	background-color:#00688B;
}
#userMenu {
	position:fixed;
	margin:0px;
	top:42px;
	right:10px;
	width:160px;
	height:180px;
	background-color:white;
	visibility:hidden;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border:1px solid black;
	border-top:0px;
}

#sidebar {
	height:100%;
	width:235px;
	top:42px;
	padding-top:10px;
	margin:0px;
	position:fixed;
	background-color:#d4d4d4;
	border-right:3px solid black;
	line-height:40px;
}
.sidebar_heading {
	height:40px;
	margin:0px;
	margin-top:10px;
	color:#008BC0;
	font-size:20pt;
	text-indent:10px;
}
.sidebar_item {
	height:40px;
	width:100%;
	margin:0px;
	float:left;
	color:black;
	font-size:14pt;
	text-indent:20px;
}
.sidebar_item:hover {
	color:white;
	background-color:#00688B;
}

#module {
	margin-top:50px;
	margin-left:240px;
	text-align:center;
}

.sectionTitle {
	color:#008BC0;
	font-size:24pt;
}
.subTitle {
	color:#008BC0;
	font-size:18pt;
}