#projectList {
	margin-top:8px;
	border:1px solid black;
	border-collapse:collapse;
	background-color:lightgrey;
}
#projectListHeader {
	color:white;
	background-color:#008BC0;
}
.projectTitle, .projectStatus, .projectManager {
	border: 1px solid black;
}
.projectTitle {
	width:450px;
}
.projectStatus {
	width:100px;
}
.projectManager {
	width:200px;
}