#projectList {
	margin-top:8px;
}
.projectTitle, .projectStatus, .projectManager {
	border: 1px solid black;
}
.projectTitle {
	width:450px;
}
.projectStatus {
	width:100px;
}
.projectManager {
	width:200px;
}