#projectList {
	margin-top:8px;
}
.projectTitle, .projectStatus, .projectManager {
	border: 2px solid lightgrey;
}
.projectTitle {
	width:450px;
}
.projectStatus {
	width:100px;
}
.projectManager {
	width:200px;
}