#content {
	width:95%;
	margin:0 auto;
}
#view_header {
	width:100%;
	overflow:hidden;
	background-color:#ededed;
	border:2px solid lightgrey;
	font-size:16pt;
}
#project_info {
	text-indent:5px;
	text-align:left;
}
#project_title {
	display:inline-block;
	margin:5px;
	font-size:22pt;
}
#project_img {
	float:left;
	margin:5px;
}
.project_genre {
	display:inline;
}