#content {
	width:85%;
	margin:0 auto;
}
#view_header {
	width:100%;
	overflow:hidden;
	background-color:#ededed;
	border:2px solid lightgrey;
	font-size:16pt;
}
#project_info {
	text-align:left;
	font-size:15pt;
}
#project_title {
	display:inline-block;
	margin:5px;
	font-size:22pt;
}
#project_img {
	float:left;
	margin:10px;
}
.project_info_table {
	float:left;
	margin-right:45px;
}
#project_genres {
	margin:0px;
	padding:0px;
}
.project_genre {
	display:inline;
}
#project_description {
	margin:0px;
}
.chapter_number, .chapter_progress, .chapter_downloads {
	border: 2px solid lightgrey;
}
.chapter_number {
	width:80px;
}
.chapter_progress {
	width:400px;
}
.chapter_downloads {
	width:140px;
}