#memberList {
	margin-top:8px;
}
.memberName, .memberPositionMain, .lastActive {
	border: 2px solid lightgrey;
}
.memberName {
	width:250px;
}
.memberPositionMain {
	width:150px;
}
.lastActive {
	width:150px;
}