#memberList {
	margin-top:8px;
}
.memberName, .memberPositionMain, .lastActive {
	border: 1px solid black;
}
.memberName {
	width:250px;
}
.memberPositionMain {
	width:150px;
}
.lastActive {
	width:150px;
}